language: php

sudo: false

cache:
  directories:
  - "$HOME/.composer/cache"

php:
  - 7.1
  - 7.2

before_install:
  - travis_retry composer self-update

install:
  - composer install --no-interaction

script:
  - vendor/bin/phpunit